

<form class="form-horizontal" action='/signup' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Sign Up</legend>
    </div>
    <div class="control-group">
      <!-- First Name -->
      <label class="control-label"  for="username">First Name</label>
      <div class="controls">
        <input type="text" id="first_name" name="user[first_name]" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Last Name -->
      <label class="control-label"  for="username">Last Name</label>
      <div class="controls">
        <input type="text" id="last_name" name="user[last_name]" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="user[email]" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="user[password]" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </fieldset>
</form>
