
<br>
<br>
<div class="container">
<h3>My Journal</h3>
<br><br>

<div class="accordion">
  <% @user.journals.reverse_each do |journal| %>
    <div id="<%= journal.font %>" class="all_journals">

      <h4 class="accordion-toggle"><%= journal.title %></h4>
      <div class="accordion-content">
        <p class="journal_body"><%= journal.body %></p>
      </div>
    </div>
    <br>
  <% end %>
</div>
</div>



<script src="/js/accordion.js"></script>
<link rel="stylesheet" type="text/css" href="/css/accordion.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="/js/read.js"></script>

